<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buildasaur-Tester.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Notification - WatchTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A02C8E51AD9502B00C06948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A02C8FA1AD9502B00C06948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABB8F711BCEBBD100A68AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABB8F841BCEBC3900A68AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABB8F901BCEBC7100A68AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
